<% if note.errors.any? %>
  <ul>
    <% note.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(note) do |f| %>
  <%= f.label :title, "標題" %>
  <%= f.text_field :title %>

  <%= f.label :content, "內文" %>
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>
