<h1>新增筆記</h1>

<%= form_for(@note) do |f| %>
  <%= f.label :title, "標題" %>
  <%= f.text_field :title %>

  <%= f.label :content, "內文" %>
  <%= f.text_area :content %>
  <%= f.submit "送出" %>
<% end %>
