<div class="note-heading">
  <h1>筆記: <%= @note.title %></h1>

  <div data-controller="favorite"
       data-favorite-id-value="<%= @note.id %>">
    <a href="#"
       id="favorite_btn"
       data-action="favorite#toggleFavorite"
       data-favorite-target="button">
      <%= favorite_icon(current_user, @note) %>
    </a>
  </div>
</div>

<%= @note.content %>

<%= form_with(model: @comment, url: note_comments_path(@note), local: false) do |f| %>
  <%= f.text_area :content %>
  <%= f.submit "新增留言" %>
<% end %>

<ul class="comments">
<% @comments.each do |comment| %>
  <li><%= comment.content %></li>
<% end %>
</ul>
